<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/styles/atom-one-dark.min.css">

        <script nonce="{{ nonce }}">alert('Hi from "nonce" script!')</script>
        <script>alert('Loaded from a "non-nonce" script!')</script>

    </head>
    <body>

        <p>Hello World!</p>
        <pre><code class="hljs javascript">{{{ jscode }}}</code></pre>

    </body>
</html>
